## How to Perform One Hot Encoding for Multi Categorical Variables

### Taking most frequent categories from the categorical variables

In [ ]:
# determining the most occured categorical values
df['value'].value_counts().sort_values(ascending=False).head(20)

In [ ]:
# using them to form a list for the encoding purpose
top = [x for x in df['Model'].value_counts().sort_values(ascending=False).head(20).index]
top

In [ ]:
# the columns are created with use of labels and frequent categories are filled as 1 whereas non frequent as 0

for label in top:
    df[label] = np.where(df['Model']==label,1,0)
    
df[['Model'] + top].head(20)

## Determining the columns that contain the categorical values

In [ ]:
# this is by subtracting the numeric columns from all the columns present
cols = df.columns
num_cols = df._get_numeric_data().columns
num_cols
col_list = list(set(cols) - set(num_cols))
col_list
# col_list has the list of columns with categorical values

## one hot encoding

In [ ]:
# get_dummies is used for encoding 
dfnew = pd.get_dummies(df, columns = ['list of columns'] )

## changing the yes or no to one's and zero's

In [ ]:
df['column'] = df['column'].str.replace('Yes', '1').astype(str)
df['column'] = df['column'].str.replace('No', '0').astype(str)

## changing boolean values to one's and zero's

In [ ]:
df['column'].astype(int)

## Replacing str and making the column as int type

#### example in this case the mileage is followed by 'km' and it is not necessary for the program only numeric values is required. so, replacing 'km'.

In [ ]:
df['Mileage'] = df['Mileage'].str.replace('km', '').astype(int)

## To get equal number of columns before and after encoding in both test and train dataframe

In [ ]:
# Making a new column to determine whether this is from training or test set of the dataframe
df1['train'] = 1
df2['train'] = 0

In [ ]:
# next step is to concading the two dataframes
df = pd.concat([df1,df2])

In [ ]:
# this step is used finally after all encoding to seperate the test and train dataframes
train_df = dfnew[dfnew['train'] == 1]
test_df = dfnew[dfnew['train'] == 0]
train_df.drop(["train"],axis=1,inplace=True)
test_df.drop(["train"],axis=1,inplace=True)